body, h1, h2, h3, p, img, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background: url('images/reBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 2em;
    border-radius: 8px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(68, 68, 68, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

article {
    margin-bottom: 20px;
}

h1, h2, h3 {
    margin: 10px 0;
    color: white;
}

h1#mainHeading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: red;
}

p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1em;
}

p#testP.funParagraph {
    color: green;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 8px;
    transition: background 0.3s;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

button:hover {
    background: #555;
}

.hiddenContent {
    display: none;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    border-radius: 8px;
}

header span.first-letter, footer span.first-letter,
h2 span.first-letter, h3 span.first-letter, h4 span.first-letter, h5 span.first-letter, h6 span.first-letter,
button span.first-letter {
    color: red;
}

header span.remaining-letters, footer span.remaining-letters,
h2 span.remaining-letters, h3 span.remaining-letters, h4 span.remaining-letters, h5 span.remaining-letters, h6 span.remaining-letters,
button span.remaining-letters {
    color: white;
}
